<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.siteName }}</title>
		<meta name="description" content="{{ description or metadata.siteDescription }}">
		<link rel="canonical" href="{{ page.url | url }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="Feed">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<h1><a href="/">{{ metadata.siteName }}</a></h1>
				<ul>
					{% for item in metadata.nav %}
						<li><a href="{{ item.url | url }}" {% if item.url == page.url %}aria-current="page"{% endif %}>{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<main>
			{{ content | safe }}
		</main>

		<footer>
			<p>&copy; {{ year }} {{ metadata.author.name }}</p>
		</footer>
	</body>
</html>
